.single-card {
    background-color: #f8f8f8;
    border-radius: 20px;
}

.single-card h5 {
    color: #f63e7b;
}

.supplier {
    color: #f63e7b;
}

.single-card img {
    width: 300px;
}

.y2-line {
    height: 2px;
    width: 85%;
    background-color: #7258db;
}
.item-button {
    color: #f63e7b;
    background-color: transparent;
    border: 1px solid #f63e7b;
}
.item-button:hover {
    color: white;
    background-color: #f63e7b;
    border: 1px solid #f63e7b;
    transition: 0.5s;
}
