.single-card {
    background-color: #f8f8f8;
    border-radius: 20px;
}

.single-card h5 {
    color: #f63e7b;
}

.single-card img {
    width: 300px;
}

.y2-line {
    height: 2px;
    width: 85%;
    background-color: #7258db;
}
