.banner {
    /* background-color: #f8f8f8; */
    background-image: linear-gradient(
        350deg,
        #7258db,
        #f8f8f8,
        #f8f8f8,
        #f8f8f8,
        #f8f8f8,
        #f8f8f8,
        #f8f8f8,
        #f63e7b
    );
}

/* banner responsive for mobile devices */
@media screen and (min-width: 0px) and (max-width: 576px) {
    .banner-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner-container img {
        width: 250px;
    }
}
/* banner responsive for tablet devices */
@media screen and (min-width: 576px) and (max-width: 980px) {
    .banner-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner-container img {
        width: 500px;
    }
}
